$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$light-color: #BCDAAD;
$main-color: #91C179;
$dark-color: #53833D;
$darker-color: #375728;

.angular-google-map-container { height: 400px; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-color: $light-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    margin-left: 1%;
    color:$darker-color;
}

h2 {
    color:$dark-color;
    margin-left: 3%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.form-search {
    margin-bottom: 10px;
}

.panel {
    border-color: $dark-color!important;
}

.panel-heading,
.jumbotron,
.btn {
    background-color: $main-color!important;
    border-color: $dark-color!important;
}

.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid $dark-color;
    border-radius: 4px!important;
    padding: 10px;
    margin-bottom: 10px;
}

.header-bottom {
    margin-bottom: 10px;
}

.boutton {
    border-radius: 4px;
    border: 1px solid $dark-color;
    background-color: $main-color;

    :hover {
        background-color: $light-color!important;
    }
    a {
        color:$darker-color;
    }
}

.col-md-12 p {
    margin-left: 5%;
}

.tiers {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.techno {
    text-align: center;
}