<ng-include src="'views/header.html'"></ng-include>

<input type="number" min="0" ng-model="dist" onchange="doTest1()" />
<google-map zoom="map.zoom" center="map.center" options="map.options" draggable="true">
	<marker coords="map.coords"></marker>
	<marker 
		ng-repeat="hotel in hotels"
		coords="hotel.geometry.coordinates"
		click="goTo(hotel.recordid)"
	>
	</marker>
	<circle center='map.coords'
			radius='1000'
			clickable='false'
	>
	</circle>
</google-map>
<hotels-display hotels="hotels"></hotels-display>

<ng-include src="'views/footer.html'"></ng-include>