<ng-include src="'views/header.html'"></ng-include>

<section id="form">
	<form class="form-inline">
		<div class="form-group">
			<div class="input-group form-search">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				<input class="form-control" ng-model="search" placeholder="Filtrer par nom d'hôtel">
			</div>
		</div>
		<div class="form-group">
			<span class="fa fa-star fa-lg" ng-repeat="a in stars" ng-click="noter(a)"></span>
			<span class="fa fa-star-o fa-lg" ng-repeat="a in nostars" ng-click="noter(a)"></span>
			<span class="fa fa-times" ng-click="noter(0)"></span>
		</div>
	</form>
</section>

<section id="hotel">
	<div class="row">
		<div ng-repeat="hotel in hotels | filter:search | filter:{classement:note, nom_commercial:search}">
			<div class="col-md-4 col-sm-6" >
				<div class="panel panel-primary">
					<div class="panel-heading">{{hotel.nom_commercial}}</div>
					<div class="panel-footer"><a href="#/hotel/{{hotel.recordid}}">En savoir plus</a></div>
				</div>      
			</div>
			<div class="clearfix visible-md visible-lg" ng-if="$index%3==2"></div>
			<div class="clearfix visible-sm" ng-if="$index%2==1"></div>
		</div>
	</div>
</section>

<ng-include src="'views/footer.html'"></ng-include>