<div class="footer">
  	<div class="row">
    	<h3>Nous rejoindre sur les réseaux sociaux</h3>
    	<div class="techno">
    	<div class="col-md-4 col-sm-6">
	    	<a href="https://twitter.com/Alain_Ncls"><i class="fa fa-twitter"> Twitter</i></a>
	    </div>
	    <div class="col-md-4 col-sm-6">
	    	<a href="https://www.facebook.com/alain.nicolas"><i class="fa fa-facebook"> Facebook</i></a>
	    </div>
	    <div class="col-md-4 col-sm-6">
	    	<a href="https://www.linkedin.com/profile/view?id=268399681"><i class="fa fa-linkedin"> LinkedIn</i></a>
    	</div>
    </div>
</div>