<div class="header">
  	<div class="jumbotron">
  		<i class="fa fa-home fa-5x"></i>
      	<h1>Et'App Hôtels</h1>
      	<p>Les meilleurs hôtels sont ici !</p>
  	</div>
  	<div class="header-bottom">
		<ul class="nav nav-pills">
		    <li class="boutton boutton-left"><a ng-href="#">Home</a></li>
		    <li class="boutton boutton-left"><a ng-href="#/findHotel">Trouver un hôtel</a></li>
		    <li class="boutton boutton-left"><a ng-href="#/findNear">A proximité</a></li>
		    <li class="boutton boutton-right pull-right"><a ng-href="#/about">About</a></li>
		    <li class="boutton boutton-left pull-right"><a ng-href="#/cgv">CGV</a></li>
	  	</ul>
  	</div>
</div>
